:root {
  --negro: #111111;
  --blanco: #fefefe;
  --grisOscuro: #222222;
  --grisClaro: #c8c8c8;
  --grisClaroHover: #acabab;
  --azul: #3e60e9;
  --azulHover: #254be6;
  --gris: #707070;
  --sombraDark: 10px 10px 20px rgba(170, 170, 170, 0.16);
  --sombraLight: 10px 10px 20px rgba(0, 0, 0, 0.16);
}
